.btn {
    display: block;
    text-align: center;
    padding: 12px 24px;

    &__primary {
        background-color: $color-dark;
        border: 1px solid $color-dark;
        box-shadow: $box-shadow-natural;
        color: $color-white;
        text-transform: uppercase;
    }

    &__secondary {
        background-color: $color-red;
        border: 1px solid $color-red;
        box-shadow: $box-shadow-natural;
        font-size: 30px;
        color: $color-white;
        text-transform: uppercase;
        letter-spacing: 3px;
        transition: 0.2s all ease;

        &:hover {
            letter-spacing: 3.3px;
            box-shadow: $box-shadow-natural-hover;
        }

        &:active {
            letter-spacing: 2.5px;
            box-shadow: $box-shadow-natural;
        }
    }

    &__input {
        padding: 5px 8px;
        border-left: none;
        border-radius: 0;
        font-size: $font-size-m;
        box-shadow: none;
        text-transform: none;
    }
}
