.btn {
    display: block;
    text-align: center;
    padding: 12px 24px;

    &__primary {
        background-color: $color-blue-dark;
        border: 1px solid $color-blue-dark;
        box-shadow: $box-shadow-natural;
        color: $color-white;
        text-transform: uppercase;
    }

    &__secondary {
        background-color: rgb(172, 27, 27);
        border: 1px solid rgb(126, 37, 37);
        box-shadow: $box-shadow-natural;
        font-size: 30px;
        color: $color-white;
        text-transform: uppercase;
        letter-spacing: 3px;
        transition: 0.2s all ease;

        &:hover {
            letter-spacing: 3.3px;
            padding: 14px 24px;
            box-shadow: 3px 3px 20px -3px rgba(66, 68, 90, 1);
        }
    }

    &__input {
        padding: 5px 8px;
        border-left: none;
        border-radius: 0;
        font-size: $font-size-m;
        box-shadow: none;
        text-transform: none;
    }
}
