.app {
    padding: 30px;

    &__container {
        height: 100%;
        width: 100%;
    }

    &__name {
        text-align: center;
        color: $color-dark;
    }
}

.add {
    margin-bottom: 60px;

    &__container {
        margin-bottom: 40px;
        display: flex;
        flex-wrap: wrap;
    }
    &__input-wrapper {
        width: 40%;
        position: relative;
    }

    &__input-name {
        position: absolute;
        top: -10px;
        left: 10px;
        padding: 0 3px;
        background-color: #fff;
        font-size: 12px;
    }

    &__input {
        width: 100%;
        height: 100%;

        &--input {
            border-radius: 10px 0 0 10px;
        }

        &--select {
            font-weight: 600;
            border-radius: 0;
        }
    }

    &__button {
    }

    &__status-info {
        width: 100%;
        height: 20px;
        margin-top: 10px;
    }
}

.draw {
    &__button {
        margin: 0 auto;
        margin-bottom: 40px;
    }
}

.cooking-plan {
    &__container {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__item {
        box-shadow: $box-shadow-natural;
        border-radius: 10px;
    }

    &__table {
        width: 100%;
        border: 5px solid $color-dark;
        padding: 10px;
        border-radius: 0 0 10px 10px;
        background-color: $color-white;
    }

    &__day-name {
        border: 5px solid $color-dark;
        background-color: $color-dark;
        border-bottom: none;
        border-radius: 10px 10px 0 0;
        font-size: $font-size-xl;
        font-weight: 600;
        color: $color-white;
        padding: 5px 0;
    }

    &__meal-type {
    }

    &__table-cell {
        padding: 3px 0;
        vertical-align: center;
    }

    &__meal-name {
        font-weight: 600;
        text-transform: uppercase;
        font-size: $font-size-l;
        letter-spacing: 2px;
        color: $color-dark;
    }

    &__dish {
        text-align: right;
    }
}

.dish-list {
    width: 80vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -80vw;
    background-color: $color-light;
    padding: 20px;
    transition: 0.2s all ease;

    &--active {
        right: 0;
    }

    &__wrapper {
        max-height: calc(100vh - 120px);
        overflow-y: scroll;
        scrollbar-color: $color-red transparent;
    }

    &__show {
        position: absolute;
        top: 75%;
        left: -50px;
        transform: translateY(-50%);
    }

    &__delete-options {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
    }

    &__delete-dish {
        &--active {
            background-color: $color-red;
            color: $color-white;
        }
    }

    &__list {
        margin-bottom: 20px;
    }

    &__title {
        text-transform: uppercase;
        font-size: $font-size-xl;
        font-weight: 600;
        color: $color-red;
    }

    &__item {
        padding-left: 10px;
        position: relative;
        transition: all 0.5s ease;

        &--delete-active {
            padding-left: 30px;
            &:hover {
                background-color: rgba($color: $color-red, $alpha: 0.1);
                cursor: pointer;
            }
        }
    }

    &__delete-item-button {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 10px;
        color: $color-red;
        transition-delay: 0.3s;

        &--active {
            opacity: 1;
            pointer-events: all;
            transition: all 0.5s ease;
        }
    }
}
