.app {
    padding: 30px;

    &__container {
        height: 100%;
        width: 100%;
    }

    &__name {
        text-align: center;
        color: $color-dark;
    }
}

.add {
    // flex-direction: column;
    margin-bottom: 60px;

    &__input-container {
        margin-bottom: 40px;
        display: flex;
        flex-wrap: wrap;
    }
    &__input-wrapper {
        width: 40%;
        position: relative;
    }

    &__input-name {
        position: absolute;
        top: -10px;
        left: 10px;
        background-color: #fff;
        font-size: 12px;
        padding: 0 3px;
       
    }

    &__input {
        width: 70%;
        
        &--first {
            border-radius: 10px 0 0 10px;

        }
    }

    &__button {
        width: 20%;
        border-radius: 0 10px 10px 0;
    }
}

.draw {
    &__button {
        margin: 0 auto;
        margin-bottom: 40px;
    }
}

.days {
    &__container {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__item-wrapper {
        box-shadow: $box-shadow-natural;
        border-radius: 10px;
    }
}

.meal {
    &__table {
        width: 100%;
        border: 5px solid $color-dark;
        padding: 10px;
        border-radius: 0 0 10px 10px;
        background-color: $color-white;
    }

    &__table-name {
        border: 5px solid $color-dark;
        background-color: $color-dark;
        border-bottom: none;
        border-radius: 10px 10px 0 0;
        font-size: $font-size-xl;
        font-weight: 600;
        color: $color-white;
        padding: 5px 0;
    }

    &__type {
    }

    &__table-cell {
        padding: 3px 0;
        vertical-align: center;
    }

    &__name {
        font-weight: 600;
        text-transform: uppercase;
        font-size: $font-size-l;
        letter-spacing: 2px;
        color: $color-dark;
    }

    &__dish {
        text-align: center;
    }
}
