@media screen and (min-width: 767px) {
    .app {
        &__container {
            height: 100%;
            width: 100%;
        }

        &__name {
            text-align: center;
            color: $color-dark;
        }
    }

    .add {
        &__container {
            max-width: 600px;
            margin: 0 auto;
        }

        &__input-wrapper {
        }

        &__input-name {
        }

        &__input {
            width: 100%;
        }

        &__button {
        }
    }

    .draw {
        &__button {
            margin-bottom: 50px;
        }
    }

    .cooking-plan {
        &__container {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__item {
            min-width: 400px;
        }

        &__table {
        }

        &__day-name {
        }

        &__meal-type {
        }

        &__table-cell {
        }

        &__meal-name {
            font-size: 25px;
            text-align: vertical;
        }

        &__dish {
        }
    }

    .dish-list {
        // &__show {
        //     display: none;
        // }

    }
}
