@media screen and (min-width: 767px)  {

    .app {
        &__container {
            height: 100%;
            width: 100%;
        }

        &__name {
            text-align: center;
            color: $color-blue-dark;
        }
    }

    .add {
        &__input-container {
        max-width: 500px;
        margin: 0 auto;
        }

        &__input-name {
        }

        &__input {
        }

        &__button {
        }
    }

    .draw {
        &__button {
            margin-bottom: 50px;
        

            &:hover {
            
            }
        }
    }

    .days {
        &__container {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__item-wrapper {
            min-width: 400px;
        
        }
    }

    .meal {
        &__table {
        
        }

        &__table-name {
        
        }

        &__type {
        }

        &__table-cell {
        }

        &__name {
            font-size: 25px;
            text-align: vertical;
        }

        &__dish {
        }
    }

}