//colors
$color-black: #000;
$color-grey: #777;
$color-white: #fff;
$color-red: #ac1b1b;
$color-dark: #222;


//fonts
$font-base: "Poppins", sans-serif;

$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-xs: 14px;
$font-size-m: 16px;
$font-size-l: 20px;
$font-size-xl: 24px;
$font-size-xxl: 32px;
$font-size-xxxl: 44px;

//styles
$box-shadow-natural: 3px 3px 12px -3px rgba(66, 68, 90, 1);
$box-shadow-natural-hover: 3px 3px 20px -3px rgba(66, 68, 90, 1);
