body {
    max-width: 1440px;
    margin: 0 auto;
    background-color: $color-blue-light;
}

input[type="text"] {
    font-size: $font-size-m;
    padding: 5px 8px;
    border: 1px solid $color-blue-dark;
}


