body {
  max-width: 1440px;
  margin: 0 auto;
}

input,
select {
  font-size: 16px;
  padding: 8px 12px;
  border: 1px solid #222;
  background-color: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.status-info {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
}

.status-info--success {
  color: #75be76;
}

.status-info--error {
  color: #dc4c45;
}

.modal {
  display: none;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.5);
}

.modal--active {
  display: block;
}

.modal__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  border: 5px solid #222;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 12px -3px #42445a;
          box-shadow: 3px 3px 12px -3px #42445a;
}

.modal__header {
  position: relative;
}

.modal__header-content {
  padding: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
}

.modal__close {
  position: absolute;
  top: 0;
  padding: 20px;
  right: 0;
  font-weight: 400;
  font-size: 24px;
}

.modal__body {
  min-height: 100px;
  padding: 20px;
}

.modal__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 20px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

* {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

h1 {
  margin-bottom: 20px;
  font-size: 44px;
  font-weight: 700;
}

h2 {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
}

h3 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
}

.btn {
  display: block;
  text-align: center;
  padding: 10px 20px;
}

.btn__primary {
  background-color: #222;
  background-color: #222;
  -webkit-box-shadow: 3px 3px 12px -3px #42445a;
          box-shadow: 3px 3px 12px -3px #42445a;
  border: 1px solid #222;
  border-left: none;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-transform: uppercase;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.btn__add {
  width: 20%;
  padding: 5px 8px;
  background-color: #222;
  -webkit-box-shadow: 3px 3px 12px -3px #42445a;
          box-shadow: 3px 3px 12px -3px #42445a;
  border: 1px solid #222;
  border-left: none;
  border-radius: 0 10px 10px 0;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-transform: none;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.btn__add:hover {
  letter-spacing: 1.5px;
  -webkit-box-shadow: 3px 3px 20px -3px #42445a;
          box-shadow: 3px 3px 20px -3px #42445a;
}

.btn__add:active {
  letter-spacing: 2.5px;
  background-color: #888;
}

.btn__draw {
  background-color: #ac1b1b;
  border: 1px solid #ac1b1b;
  -webkit-box-shadow: 3px 3px 12px -3px #42445a;
          box-shadow: 3px 3px 12px -3px #42445a;
  padding: 12px 24px;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.btn__draw:hover {
  letter-spacing: 3.3px;
  -webkit-box-shadow: 3px 3px 20px -3px #42445a;
          box-shadow: 3px 3px 20px -3px #42445a;
}

.btn__draw:active {
  letter-spacing: 2.5px;
  -webkit-box-shadow: 3px 3px 12px -3px #42445a;
          box-shadow: 3px 3px 12px -3px #42445a;
}

.btn__oval {
  width: 50px;
  height: 100px;
  background-color: #ac1b1b;
  border-radius: 100vmax 0 0 100vmax;
  border: 1px solid #222;
}

.btn__modal {
  width: 100px;
  border: none;
}

.btn__approve {
  background-color: #ac1b1b;
  color: #fff;
}

.btn__deny {
  background-color: #ddd;
  color: #222;
}

.app {
  padding: 30px;
}

.app__container {
  height: 100%;
  width: 100%;
}

.app__name {
  text-align: center;
  color: #222;
}

.add {
  margin-bottom: 60px;
}

.add__info {
  text-align: center;
  margin-bottom: 15px;
}

.add__container {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.add__input-wrapper {
  width: 40%;
  position: relative;
}

.add__input-name {
  position: absolute;
  top: -10px;
  left: 10px;
  padding: 0 3px;
  background-color: #fff;
  font-size: 12px;
}

.add__input {
  width: 100%;
  height: 100%;
}

.add__input--input {
  border-radius: 10px 0 0 10px;
}

.add__input--select {
  font-weight: 600;
  border-radius: 0;
}

.add__status-info {
  width: 100%;
  height: 20px;
  margin-top: 10px;
}

.draw__button {
  margin: 0 auto;
  margin-bottom: 40px;
}

.cooking-plan__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.cooking-plan__item {
  -webkit-box-shadow: 3px 3px 12px -3px #42445a;
          box-shadow: 3px 3px 12px -3px #42445a;
  border-radius: 10px;
}

.cooking-plan__table {
  width: 100%;
  border: 5px solid #222;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  background-color: #fff;
}

.cooking-plan__day-name {
  border: 5px solid #222;
  background-color: #222;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  padding: 5px 0;
}

.cooking-plan__table-cell {
  padding: 3px 0;
  vertical-align: center;
}

.cooking-plan__meal-name {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  color: #222;
}

.cooking-plan__dish {
  text-align: right;
}

.dish-list {
  width: 80vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -80vw;
  background-color: #ddd;
  padding: 20px;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.dish-list--active {
  right: 0;
}

.dish-list__wrapper {
  max-height: calc(100vh - 120px);
  overflow-y: scroll;
  scrollbar-color: #ac1b1b transparent;
}

.dish-list__show {
  position: absolute;
  top: 75%;
  left: -50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.dish-list__delete-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.dish-list__delete-dish--active {
  background-color: #ac1b1b;
  color: #fff;
}

.dish-list__list {
  margin-bottom: 20px;
}

.dish-list__title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  color: #ac1b1b;
}

.dish-list__item {
  padding-left: 10px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.dish-list__item--delete-active {
  padding-left: 30px;
}

.dish-list__item--delete-active:hover {
  background-color: rgba(172, 27, 27, 0.1);
  cursor: pointer;
}

.dish-list__delete-item-button {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 10px;
  color: #ac1b1b;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.dish-list__delete-item-button--active {
  opacity: 1;
  pointer-events: all;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (min-width: 767px) {
  .btn__secondary {
    font-size: 30px;
  }
}

@media screen and (min-width: 767px) {
  .app__container {
    height: 100%;
    width: 100%;
  }
  .app__name {
    text-align: center;
    color: #222;
  }
  .add__container {
    max-width: 600px;
    margin: 0 auto;
  }
  .add__input {
    width: 100%;
  }
  .draw__button {
    margin-bottom: 50px;
  }
  .cooking-plan__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cooking-plan__item {
    min-width: 400px;
  }
  .cooking-plan__meal-name {
    font-size: 25px;
    text-align: vertical;
  }
}
/*# sourceMappingURL=main.css.map */